# *****************************************************************************************
# Unnecessary files 
# *****************************************************************************************

build.xml
sysinfo.txt

# *****************************************************************************************
# Unnecessary folders 
# *****************************************************************************************

/Debug/
/Library/
/obj/
/Temp/
/xde/

# *****************************************************************************************
# Patterns
# *****************************************************************************************

# Ignore any database created by Visual Studio
*.sdf
*.suo
*.opensdf
*.sln
*.csproj
*.userprefs
*.pidb
*.d
*.o
*.lo
*.la
*.al
.libs
*.apk
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*.map
*.elf
*.nds
*~
#*#
.#*
.*.swp
.DS_Store
*.unityproj